*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	background: linear-gradient(-45deg, #f8abcb, #ecb2e9, #bdc3f1, #c09fdb);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 150px;
    
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 50px 60px rgb(21, 42, 23); */
}

.container .l-side
{
    position: relative;
    background: hsla(0, 0%, 66%, 0.287);
    padding: 40px;
}

.container .r-side
{
    position: relative;
    background: rgba(163, 119, 119, 0);
    padding: 40px;
}

.mainPhoto{
    width: 270px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(154, 76, 161, 0.979);
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx .mainPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #911881;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 1.3em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #ff00dd;
}
.contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(154, 76, 161, 0.979);
}
.title {
    color: #911881;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contacts ul {
    position: relative;
}
.contacts ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.ae {
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: #911881;
}
.text {
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: #911881;
}
.edu {
    padding-top: 50px;
}
edu ul {
    position: relative;
}
.edu ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}
.about{
    margin-bottom: 50px;
}
.title2 {
    color: #665464;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lang h2{
    padding-top: 50px;
}
.about p {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #665464e0;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding-top: 20px;
}

.box {
    position: relative;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.box h4{
    text-transform: uppercase;
    color: #6654649d;
    font-weight: 500;
}

.percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #c09fdb77;
}

.percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #9c6c80;
}
